<div class="row">
  <div class="col-md-12 text-center">
    <div class="row pt-1 mb-2">
      <div class="col-md-4 text-center mb-2">
        <h1 class="h5">
          <h2 class="h5">{{angular}}&nbsp;&nbsp;<img src="/assets/images/angular.png" width="36" height="36"
                                                     alt=""></h2>
        </h1>
      </div>
      <div class="col-md-4 text-center">
        <h1 class="h5">
          <i class="fab fa-apple fa-lg ml-2 mr-1 text-primary"></i>
        {{ name }}<i class="fab fa-apple fa-lg ml-2 mr-1 text-primary"></i>
        </h1>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="h5">{{bootstrap}}&nbsp;&nbsp;  <img src="/assets/images/bootstrap.png" width="28" height="28" alt="">
          </h2>
      </div>
    </div>
    <hr>
    <div class="row mb-1">
      <div class="col-md-12 text-center">
        <h3 class="h6">Features&nbsp;&nbsp;<i class="fas fa-list"></i></h3>
      </div>
    </div>
    <p>
      home works!
    </p>
  </div>
</div>
