<header>
  <nav class="navbar navbar-expand-md justify-content-center fixed-top navbar-dark " style="background-color: #212121;">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/image1.png" width="30" height="30" alt="">
    </a>
    <a class="navbar-expand-md justify-content">
      <span class = "site" style="color:white"> Website </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">
            <i class="fas fa-home mr-1"></i> Home
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">
            <i class="far fa-question-circle mr-1"></i> About
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact">
            <i class="fas fa-envelope mr-1"></i> Contact
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>
